{% extends 'base.html' %}
{% block title %}User Edit Page{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit a User</h1>

    <form action="" id="form" method="POST">
        <p>First Name: <input type="text" name="first_name" placeholder="Enter a first name"></p>
        <p>Last Name : <input type="text" name="last_name" placeholder="Enter a last name"></p>
        <p>Img URL : <input type="text" name="img_url" placeholder="Provide an image of this user"></p>
    </form>
    <a href="/users/{{user_id}}"><button class="btn btn-outline-info">Cancel</button></a>
    <button class="btn btn-success" form="form">Save</button>
</div>
{% endblock %}