{% extends 'base.html' %}
{% block title %}Add Tag{% endblock %}

{% block content %}
<div class="container">
    <h1>{{tag.name}}</h1>
    {% if posts %}
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    {% endif%}
    </p>
    <a href="/tags/{{tag.id}}/edit"><button class="btn btn btn-success">Edit</button></a>
    <a href="/tags/{{tag.id}}/delete"><button class="btn btn-danger">Delete</button></a>
</div>

{% endblock %}