* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  /* TODO */

  background-image: linear-gradient(to right, rgb(254, 201, 40), rgb(252, 88, 46));
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}

input {
 /* TODO */
 outline: 0;
}

.search-container {
 /* TODO */
 position: absolute;
 top: 40%;
 left: 40%;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  background-color: rgb(244, 193, 99);
}
.search-container input {
 /* TODO */
 font-family: cursive;
 font-size: 20px;
}
.search-container .suggestions {
   /* TODO */
   position: relative;
   bottom: 15px;
}

ul {
  /* TODO */
  position: relative;
  list-style-type: none;
  padding: 0;
  box-sizing:border-box;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
  width:100%;
  font-family: cursive;
  font-size: 20px;

}
ul li:hover {
  /* TODO */
  background-color: rgb(255, 77, 0);
}

input {
   /* TODO */
}