{% extends 'base.html' %}
{% block title %}Pet Adoption List{% endblock %}

{% block content %}

<div class="container">
    <h1>Pets</h1>
    {% if pets %}
    <div class="row">
        {% for pet in pets %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{pet.photo_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    {% if pet.available %}
                    <p class="card-text"><a href="/{{pet.id}}">{{pet.name}}</a> is available!</p>
                    {% else %}
                    <p class="card-text">{{pet.name}} is not available!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <a href="/add"><button class="btn btn-success">Add a Pet</button></a>
</div>
{% endblock %}